

<div class="sidenav-container">
  <button class="toggle-button" [class.shifted]="isOpen" (click)="toggleSidenav()">☰</button>
  <nav class="sidenav" [class.open]="isOpen">
    <span class="brand-logo">
      <img src="https://videos.openai.com/vg-assets/assets%2Ftask_01jsmd346xf2d8rdzjdtxywtza%2Fimg_0.webp?st=2025-05-19T15%3A28%3A27Z&se=2025-05-25T16%3A28%3A27Z&sks=b&skt=2025-05-19T15%3A28%3A27Z&ske=2025-05-25T16%3A28%3A27Z&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skoid=aa5ddad1-c91a-4f0a-9aca-e20682cc8969&skv=2019-02-02&sv=2018-11-09&sr=b&sp=r&spr=https%2Chttp&sig=qp%2FYvcUjBYhXX2bOtL%2BL6Qt0csdSliIb3%2BxVitghACM%3D&az=oaivgprodscus" alt="logo" aria-hidden="true">
    </span>
    <ul>
      <li><a routerLink="/" (click)="toggleSidenav()">Inicio</a></li>
      <li><a routerLink="/detalles" (click)="toggleSidenav()">Detalles</a></li> 
      <li><a routerLink="/aboutus" (click)="toggleSidenav()">Acerca de nosotros</a></li>
      <li><a routerLink="/contacto" (click)="toggleSidenav()">Contacto</a></li>
    </ul>
    <span class="app-version-info">2025.05.19</span>
  </nav>
</div>
