<main>
  <app-sidenav></app-sidenav> 
  <div class="content">
    <header class="brand-name">
      <img class="brand-logo" src="/assets/images.png" alt="logo" aria-hidden="true">
      <div class="icon-group">
        <!-- Ícono de búsqueda -->
        <div class="search-container" (click)="onContainerClick($event)" #searchBox>
          <mat-icon (click)="toggleSearch()">search</mat-icon>
          <input *ngIf="showSearch" type="text" placeholder="Buscar..." />
        </div>
        <!-- Ícono del carrito de compras -->
        <a href="/cart" aria-label="Carrito de compras">
          <mat-icon matBadge="1" matBadgePosition="above after" matBadgeSize="small" matBadgeColor="primary" class="ShoppingCart">
          shopping_cart_checkout</mat-icon>
        </a>

       <!-- Ícono del perfil de usuario -->
        <a href="/profile" aria-label="Perfil de usuario">
          <mat-icon class="user-icon">account_circle</mat-icon>
        </a>
        <!-- Otro ícono adicional -->
        <a href="/settings" aria-label="Configuración">
         <mat-icon class="settings-icon">settings</mat-icon>
        </a>
      </div>
    </header>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
</main>