<main>
  <app-sidenav></app-sidenav> 
  <div class="content">
    <header class="brand-name">
      <img class="brand-logo" src="https://videos.openai.com/vg-assets/assets%2Ftask_01jsmd346xf2d8rdzjdtxywtza%2Fimg_0.webp?st=2025-04-24T17%3A24%3A08Z&se=2025-04-30T18%3A24%3A08Z&sks=b&skt=2025-04-24T17%3A24%3A08Z&ske=2025-04-30T18%3A24%3A08Z&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skoid=3d249c53-07fa-4ba4-9b65-0bf8eb4ea46a&skv=2019-02-02&sv=2018-11-09&sr=b&sp=r&spr=https%2Chttp&sig=A8YpizIqKjiZ%2BgF2Yz3ENj7B1m0yOGf0FvcKQmXonQ0%3D&az=oaivgprodscus" alt="logo" aria-hidden="true">
      <div class="icon-group">
        <!-- Ícono de búsqueda -->
        <div class="search-container" (click)="onContainerClick($event)" #searchBox>
          <mat-icon (click)="toggleSearch()">search</mat-icon>
          <input *ngIf="showSearch" type="text" placeholder="Buscar..." />
        </div>
        <!-- Ícono del carrito de compras -->
        
        <ul class="shopping-cart">
            <a (click)="navigateToDetails()" aria-label="Carrito de compras">
              <mat-icon matBadge="{{ cartItemCount }}" matBadgePosition="above after" matBadgeSize="small" matBadgeColor="primary" class="ShoppingCart">
              shopping_cart</mat-icon>
            </a>
        </ul>
       <!-- Ícono del perfil de usuario -->
        <a href="/profile" aria-label="Perfil de usuario">
          <mat-icon class="user-icon">account_circle</mat-icon>
        </a>
        <!-- Otro ícono adicional -->
        <a href="/settings" aria-label="Configuración">
         <mat-icon class="settings-icon">settings</mat-icon>
        </a>
      </div>
    </header>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
</main>
