<main>
  <app-sidenav></app-sidenav> 
  <div class="content">
    <header class="brand-name">
      <img class="brand-logo" src="https://videos.openai.com/vg-assets/assets%2Ftask_01jsmd346xf2d8rdzjdtxywtza%2Fimg_0.webp?st=2025-05-09T17%3A55%3A22Z&se=2025-05-15T18%3A55%3A22Z&sks=b&skt=2025-05-09T17%3A55%3A22Z&ske=2025-05-15T18%3A55%3A22Z&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skoid=8ebb0df1-a278-4e2e-9c20-f2d373479b3a&skv=2019-02-02&sv=2018-11-09&sr=b&sp=r&spr=https%2Chttp&sig=ucExYqYmwDqWPdOgQHSWisWSiRxi7P46Q2nhNdvMrUY%3D&az=oaivgprodscus" alt="logo" aria-hidden="true">
      <div class="icon-group">
        <!-- Ícono de búsqueda -->
        <div class="search-container" (click)="onContainerClick($event)" #searchBox>
          <mat-icon (click)="toggleSearch()">search</mat-icon>
          <input *ngIf="showSearch" type="text" placeholder="Buscar..." (input)="onSearchInput($event)" [value]="searchQuery" />
          <ul *ngIf="filteredItems.length > 0" class="search-results">
            <li *ngFor="let item of filteredItems" (click)="navigateToDetails()">
              {{ item.name }}
            </li>
          </ul>
        </div>
        <!-- Ícono del carrito de compras -->
        
        <ul class="shopping-cart">
            <a (click)="navigateToDetails()" aria-label="Carrito de compras">
              <mat-icon matBadge="{{ cartItemCount }}" matBadgePosition="above after" matBadgeSize="small" matBadgeColor="primary" class="ShoppingCart">
              shopping_cart</mat-icon>
            </a>
        </ul>
       <!-- Ícono del perfil de usuario -->

        <!-- <a href="/login" aria-label="Perfil de usuario">
          <mat-icon class="user-icon">account_circle</mat-icon>
        </a> -->
        <!-- <a [routerLink]="isAuthenticated() ? '/' : '/login'" aria-label="Perfil de usuario">
          <mat-icon class="user-icon">account_circle</mat-icon>
        </a> -->
        <a [matMenuTriggerFor]="profileMenu" aria-label="Perfil de usuario">
          <mat-icon class="user-icon">account_circle</mat-icon>
        </a>
        
        <mat-menu #profileMenu="matMenu">
          <ng-container *ngIf="isAuthenticated(); else loginOption">
            <button mat-menu-item (click)="onLogout()">Cerrar sesión</button>
          </ng-container>
          <ng-template #loginOption>
            <button mat-menu-item [routerLink]="'/login'">Iniciar sesión</button>
          </ng-template>
        </mat-menu>
        <!-- Otro ícono adicional -->
        <a href="/" aria-label="Configuración" (click)="showSettingsAlert()">
         <mat-icon class="settings-icon">settings</mat-icon>
        </a>
      </div>
    </header>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
</main>
