<!-- about-us.component.html -->
<main>
    <section class="aboutus-container">
      <mat-card id="aboutus-card">
        <mat-card-header>
          <mat-card-title>Acerca de Nosotros</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Bienvenido a <strong>Garnachas MX</strong>, un proyecto que celebra la diversidad y sabor de la comida mexicana.
            Nuestra misión es conectar a los amantes de la gastronomía con los mejores platillos regionales y sus orígenes.
          </p>
          <p>
            Explora nuestro catálogo, califica tus favoritos y descubre dónde puedes probarlos.
          </p>
        </mat-card-content>
      </mat-card>
    </section>
    </main>