<!-- <section class="search-and-results">
  <form class="search-form">
    <input type="text" placeholder="Filtrar por ciudad" #filter>
    <button class="primary" type="button" (click)="filterResults(filter.value)">Buscar</button>
  </form>
</section> -->

<section class="home-container">
  <div class="menu-title-container">
    <h1 class="title">Menú</h1>
  </div>
  <mat-paginator
  [length]="filteredLocationList.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="[4, 8, 12]"
  (page)="onPageChange($event)">
</mat-paginator>
  <div class="product-grid">
    <mat-card *ngFor="let item of paginatedList" class="example" appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle *ngIf="item.isBestSeller">
          <mat-icon color="warn">local_fire_department</mat-icon>
          Producto más vendido
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="custom-image" [src]="item.image" [alt]="item.name + ' Image'">
      <mat-card-content>
        <p><mat-icon color="primary">info</mat-icon> {{ item.description }}</p>
        <p><mat-icon color="warn">attach_money</mat-icon> Precio: ${{ item.price }}</p>
      </mat-card-content>
      <br>
      <mat-card-footer class="example-card-footer">
        <div class="form-field-container">
        <mat-form-field class="size-autocomplete" appearance="outline">
          <input
            type="text"
            matInput
            placeholder="Tamaño"
            [matAutocomplete]="sizeAuto"
            [formControl]="item.sizeControl"
          />
          <mat-autocomplete
            #sizeAuto="matAutocomplete"
            (optionSelected)="onSizeSelected($event, item)"
          >
            <mat-option *ngFor="let size of filteredSizes" [value]="size">
              {{ size }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="sauce-autocomplete" appearance="outline">
          <input
            type="text"
            matInput
            placeholder="Salsa"
            [matAutocomplete]="sauceAuto"
            [formControl]="sauceControl"
          />
          <mat-autocomplete
            #sauceAuto="matAutocomplete"
            (optionSelected)="onSauceSelected($event)"
          >
            <mat-option *ngFor="let sauce of filteredSauces" [value]="sauce">
              {{ sauce }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        </div>
      </mat-card-footer>
      <mat-card-actions class="example-card-actions">
        <div class = "addProduct">
        <button mat-fab extended (click)="addToCart(item)">
          <mat-icon>add_shopping_cart</mat-icon> Agregar
        </button>
      </div>
      <div class = "removeProduct">
        <button mat-fab extended (click)="removeFromCart(item)">
          <mat-icon>delete</mat-icon> Eliminar
        </button>
      </div>
      </mat-card-actions>
    </mat-card>
  </div>
<!--   <mat-paginator
    [length]="filteredLocationList.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[4, 8, 12]"
    (page)="onPageChange($event)">
  </mat-paginator> -->
</section>