<main>
  <section class="contact-container">
    <mat-card id="contact-card">
      <mat-card-header>
        <mat-card-title>Contacto</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Teléfono:</strong> +52 1 55 8564 4289</p>
        <p><strong>Email:</strong> contacto&#64;garnachas-mx.com</p>
        <p><strong>Dirección:</strong> Calle Garnachas #123, Soledad de Doblado, Veracruz</p>
        <p><strong>Horario:</strong> Viernes a Domingo, 9:00 AM - 9:00 PM</p>
      </mat-card-content>
    </mat-card>
  </section>
</main>
